.about-us-container {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  background-image: url("../../public/assets/imgs/NetFlicksLogin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-title {
  font-size: 3rem;
  text-align: center;
  color: white;
}
.about-us-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/netflixo-minah.appspot.com/o/0525df0f-1726-4d06-8850-bdbfb4911ac1.jpeg?alt=media");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}
