.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #db0000; /* Adjust color to match your theme */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Adjust animation duration and timing function as needed */
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
